.main-slide{
    padding-top: 30px;
}
.carousel .slider-wrapper{
    width: 50%
}

.carousel .thumb{
    width: 5%;
    height: 50px;
}
.carousel{
    text-align: center;
}

img{
    height: 300px;
    width: 200px;
}